.contenedor{
    border-radius: 10px;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    place-content: flex-end;
    height: 100%;
   
}
hr{
    display: none;
}
.orderMenu{
    margin-right: 1.3em;
    display: flex;
}
.orderMenu li{
    list-style: none;
}
.letraMenu a{
    font-size: 1.2em;
    margin-inline: 1.1em;
    text-decoration: none;
    color:white;
}
.letraMenu a:hover{
    padding: 0.4em;
    border: 2px solid white;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .orderMenu{
        text-align: center;
    }
    .orderMenu{
        display: grid;
    }
    .contenedor{
        display: grid;
        place-content: center;
    }
    hr{
        display: unset;
        width: 100%;
    }
    .letraMenu a:hover{
        background-color: white;
        color:black;
        border: none;
    }
}